*{
  margin: 0;
  font-family: Arial;
  padding: 0;
  box-sizing: border-box;
}
#root{
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}
body{
  height: 100vh;
  width: 100vw;
  .App{
    .navbar{
      position: relative;
      .filter{
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        left: 18vw;
        top: 5.2vh;
        h3{
          font-size: 2vw;
        }
        input{
          outline: 0;
          height: 5vh;
          font-size: 2vw;
          width: 13vw;
        }
      }
      .bilgi{
        z-index: 5;
        display: flex;
        position: absolute;
        top: 25%;
        right: 10%;
        justify-content: center;
        align-items: center;
        gap: 5vw;
        flex-direction: row;
        .bilgi-kutu{
          box-shadow: 0px 0.2vw 1vw 0.3vw rgba(0, 0, 0, 0.36);
          h1{
            pointer-events: none;
            position: relative;
            font-size: 4vw;
            margin-top: 0.5vw;
            span{
              pointer-events: none;
              position: absolute;
              bottom: -0.8vw;
              right: 2vw;
              font-size: 1.5vw;

            }
          }
          border-radius: 1vw;
          background-color: #32ffc9;
          width: 8vw;
          height: 6vw;
        }
        .bilgi-kutu2{
          box-shadow: 0px 0.2vw 1vw 0.3vw rgba(0, 0, 0, 0.36);
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          h1{
            user-select: none;
            pointer-events: none;
            position: relative;
            font-size: 1.5vw;
          }
          span{
            pointer-events: none;
            right: 2.5vw;
            font-weight: 500;
            font-size: 0.8vw;
          }
          h3{
            font-size: 1.5vw;
          }
          cursor: pointer;
          border-radius: 1vw;
          background-color: #32ffc9;
          width: 8vw;
          height: 6vw;
        }
        h1,span{
          user-select: none;
        }
      }
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: deepskyblue;
      height: 25vh;
      flex-direction: row;
      width: 100vw;
      h1{
        font-size: 3vw;
      }
      .navbar-item{
        input{
          outline: none;
          height: 4vh;
          font-size: 1vw;
          width: 25vw;
        }
        .button{
          margin-top: 1vw;
          button{
            cursor: pointer;
            height: 7vh;
            width: 10vw;
            border-radius: 1vw;
            font-size: 2vw;
            border: none;
            background-color: red;
            &:active{
              margin-top: 0.2vw;
              transition: margin-top;
              border: 2px solid white;
              background-color: rgba(0, 0, 255, 0.16);
            }
          }
        }
      }
    }
    .gorevyok{
      margin-top: 2vw;
    }
    .uyari{
      color: red;
      margin-top: 1vw;
      font-size: 25px;
    }
    .todo-section{
      *{
        z-index: 3  ;
      }
      width: 100%;
      height: 100%;
      .todo-list{
        display: grid;
        grid-column-gap: 25px;
        padding: 55px;
        grid-row-gap: 50px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-rows: auto auto auto auto auto;
        flex-direction: row;
        overflow-x: hidden;
      }
      .todo{
        min-height: 320px;
        height: fit-content;
        min-width: 250px;
        width: 300px;
        max-width: 300px;
        border-radius: 25px;
        background-color: #23c3c5;
        &:hover{
          border: 2px solid black;
        }
        .todo-top{
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 25px 25px 0px 0px;
          background-color: #dddd4e;
          max-height: content-box;
          min-height: 180px;
          h1{
            width: 280px;
            word-wrap: break-word;
            font-size: 25px;
          }
        }
        .image{
          img{
            margin-left: 15px;
            cursor: pointer;
            margin-top: 15px;
            height: 100px;
            width: 80px;
            &:hover{
              transform: scale(1.5);
            }
          }
          &:hover .todo{
            border: 2px solid red;
          }
        }
      }
    }
  }
}







